#header{
	width:100%;
	height: 50px;
	background-color: #959595;
}

#header h1{
	padding-right: 20px;
	font-size: 2rem;
	text-align: center;	
}

.shopping-list-title{
	width: 25%;
	height: 100px;
	background-color: #fff200;
	margin-left: auto;
	margin-right: auto;			
	margin-top: 3rem;
}

.list{
	width: 40%;
	height: 600px;
	background-color: #fff200;
	margin-left: auto;
	margin-right: auto;			
	margin-top: 3rem;
}